:root {
    --color1: #3F7D58;
    --color2: #EFEFEF;
    --color3: #EF9651;
    --color4: #EC5228;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.left {
    position: relative;
    width: 40%;
    min-width: 300px;
    height: 100vh;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    padding: 0 2rem;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 15%;
}

#title-container > div {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    position: relative;
    height: 100%;
    padding: 1rem 0;
}

#title {
    font-size: 4rem;
    color: var(--color2);
    margin-left: 10px;
}

.left > p {
    position: absolute;
    bottom: 1rem;
    color: var(--color2);
    width: 100%;
    text-align: center;
}

.left > p > a {
    text-decoration: none;
    color: var(--color4);
}

#title-desc {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color1);
    font-weight: bold;
}

#form-container {
    width: 100%;
    background-color: var(--color2);
    padding: 2em 1em;
    border-radius: 20px;
}

#form-container > h2 {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.row:last-child {
    margin-bottom: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.row div {
    width: 50%;
}

.row input {
    line-height: 1.5rem;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#sign-up {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 10px;
}

#sign-up:hover {
    background-color: var(--color3);
    color: black;
}