:root {
    --color1: #3F7D58;
    --color2: #EFEFEF;
    --color3: #EF9651;
    --color4: #EC5228;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
}

.left {
    position: relative;
    width: 40%;
    height: 100vh;
}

.right {
    width: 60%;
    height: 100vh;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 15%;
}

#title-container > div {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    position: relative;
    height: 100%;
    padding: 1rem;
}

#title {
    font-size: 4rem;
    color: var(--color2);
}

.left > p {
    position: absolute;
    bottom: 1rem;
    color: var(--color2);
    width: 100%;
    text-align: center;
}

.left > p > a {
    text-decoration: none;
    color: var(--color4);
}